/*---- Clearfix -----*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*---- Global -----*/

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(0,0,0) url(../img/page_bg.jpg) repeat;
	/* background: rgb(242,238,231); */
	color: rgb(25,25,25);
	font: 100%/1.5 "Proxima-Nova-Light", sans-serif;
}

h1,h2,h3,h4,h5,h6  {
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
}

h1 {
	color: rgb(178,43,20);
}

img {
	max-width: 100%;
	border: 0;
}

a {
	color: rgb(178,43,20);
	text-decoration: underline;
	position: relative;
	-webkit-transition: color .1s linear; background .1s linear;
	-moz-transition: color .1s linear; background .1s linear;
	-o-transition: color .1s linear; background .1s linear;
	transition: color .1s linear; background .1s linear;
}

a:hover {
	color: rgb(135,9,6);
	text-decoration: underline;
}

a:active {
	top: 1px;
}

textarea, input[type="text"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"] {
	background-color: rgb(255,255,255);
	border: 2px solid rgb(232,228,221);
	border-radius: 5px;
	padding: .5em;
}

fieldset {
	border: 0;
}

textarea:hover, input:hover {
	border: 2px solid rgb(222,218,211);
}

button[type="submit"] {
	color: #fff;
	background-color: rgb(182,35,39);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Proxima-Nova-Light';
	font-size: 1.2em;
	padding: .5em;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}

button[type="submit"]:hover {
	background-color: rgb(135,9,6);
}

/*---- Containers -----*/

div#page {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(242,238,231);
}

main[role="main"] {
	display: block;
	margin: 0 auto;
	max-width: 90%;
} 

section[role="complementary"] {
	background: rgb(235,230,220);
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 3em;
	max-width: 100%;
}

/*---- Header -----*/

.doc-head {
	color: rgb(255,255,255);
	background: rgb(0,0,0);
	margin-bottom: 3em;
}

nav[role="navigation"]{
	margin: 0 auto;
	max-width: 100%;
	padding: 2em 5% 1em 5%;
	background: rgb(0,0,0);
	position: relative;
	text-align: center;
	width: 90%;
	height: auto;  /* ??? */
}

nav[role="navigation"] h1 {
	left: 50%;
	margin: 0 auto 0 -48px;
	position: absolute; 
	z-index: 1;
	bottom: -3em;
	width: 112px;
	height: 96px;
	text-indent: -9999px;
}

nav[role="navigation"] h1 {
	background: transparent url(../img/hellogeri_logo_small.png) no-repeat 50% 0;
}

.svg nav[role="navigation"] h1 {
	background: transparent url(../img/hellogeri_logo_small.svg) no-repeat 50% 0;
}

nav[role="navigation"] ul {
	margin: 0 auto;
	padding: 0 0 3em 0;
	list-style-type: none;
	font-size: 1em;
	float: none;
	width: 90%;
}

/* .csscolumns nav[role="navigation"] ul {
	-webkit-column-count: 2;
	-webkit-column-gap: .5em;
	-moz-column-count: 2;
	-moz-column-gap: .5em;
	column-count: 2;
	column-gap: .5em;
} */

nav[role="navigation"] ul li {
	display: inline-block;
	padding: .75em;
}

/* .csscolumns nav[role="navigation"] ul li {
	display: block;
	padding: 0;
} */
  
nav[role="navigation"] ul li a {
	display: block;
	padding-top: 1em; 
	margin-bottom: 1em;
}

.icon-illustration {
	margin: 0;
   background-image: url(../img/icon-illustration.png);  
   background-position: 50% 0;
   background-repeat: no-repeat;
}

.svg .icon-illustration { 
	background-image: url(../img/icon-illustration.svg) no-repeat 50% 0;
}

.icon-design { 
	margin: 0;
	background: url(../img/icon-design.png);
	background-position: 50% 0;
   background-repeat: no-repeat;
}

.svg .icon-design {
	background: url(../img/icon-design.svg) no-repeat 50% 0;
}

.icon-photo {
	margin: 0;
	background: url(../img/icon-photo.png);
	background-position: 50% 0;
   background-repeat: no-repeat;
}

.svg .icon-photo {
	background: url(../img/icon-photo.svg) no-repeat 50% 0;
}

.icon-about {
	margin: 0;
	background: url(../img/icon-about.png);
	background-position: 50% 0;
   background-repeat: no-repeat;
}

.svg .icon-about {
	background: url(../img/icon-about.svg) no-repeat 50% 0;
}

.icon-blog {
	margin: 0;
	background: url(../img/icon-blog.png);
	background-position: 50% 0;
   background-repeat: no-repeat;
}

.svg .icon-blog {
	background: url(../img/icon-blog.svg) no-repeat 50% 0;
}

.icon-contact {
	margin: 0;
	background: url(../img/icon-contact.png);
	background-position: 50% 0;
   background-repeat: no-repeat;
}

.svg .icon-contact {
	background: url(../img/icon-contact.svg) no-repeat 50% 0;
}

nav[role="navigation"] ul li a {
	color: rgb(222,218,211);
	text-decoration: none;
	position: relative;
	-webkit-transition: color .1s linear;
	-moz-transition: color .1s linear;
	-o-transition: color .1s linear;
	transition: color .1s linear;
}

nav[role="navigation"] ul li a:hover {
	color: rgb(255,255,255);
}

.sel {
	margin: 0 auto;
	max-width: 100%;
	height: 29.5em;
	overflow: auto;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 50% 82%;
	color: rgb(255,255,255);
	text-align: center;
	clear: both;
}

.illustration {
	margin: 0 auto;
	max-width: 100%;
	height: 5.4em;
	overflow: auto;
	padding: 0;
	background-image: url(../img/illustration-header.jpg);
	background-repeat: no-repeat;
	background-position: top;
	color: rgb(255,255,255);
	text-align: center;
	clear: both;
}

.photo {
	margin: 0 auto;
	max-width: 100%;
	height: 5.4em;
	overflow: auto;
	padding: 0;
	background-image: url(../img/photo-header.jpg);
	background-repeat: no-repeat;
	background-position: top;
	color: rgb(255,255,255);
	text-align: center;
	clear: both;
}

.intro {
	max-width: 75%;
	margin: 0 auto;
	padding: 13em 3% 1em 3%;
	text-shadow: 0.1em 0.1em 0.2em rgb(0,30,50);
}

.intro h3 {
	font-size: 1em;
}

.intro p {
	font-size: .85em;
	margin-top: 1.5em;
}

.intro p a {
	color: rgb(255,255,255);
	color: rgba(255,255,255,.75);
}

.intro p a:hover {
	color: rgb(255,255,255);
}


/*---- Main -----*/


article.preview {
 	margin: 2em 0 0 0;
 	padding: 0 0 2em 0;
 	border-bottom: 1px solid rgb(227,227,208);
 }

article.preview:first-of-type {
 	margin-top: 0;
 }
 
article.preview:last-of-type {
 	border: 0;
 } 

article header h1 {
	font-size: 1.4em;
	line-height: 1.25em;
	margin: 0;
}

article header h1 a, article header h1 a:hover, article header h1 a:active {
	text-decoration: none;
}

article header p {
	font-size: .9em;
	margin: .5em 0 0 0;
}

article .excerpt-lg {
	font-size: 1.2em;
}

article h1, article h2 {
	font-size: 1.25em;
	margin: 1.75em 0 1em 0;
}

article q {
	font-size: 1.2em;
	padding: 2em 0;
}

.post img {
	max-width: 100%;
	height: auto;
	margin-top: 1em;
}

article footer {
	margin-top: 1.25em;
}

article footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

article footer ul li {
	display: inline;
	margin: 0;
	font-size: .9em;
}

article footer ul li:last-of-type {
	padding-left: 1.9em;
}

article footer ul li a {
	padding-left: 1em;
}

article footer ul li:last-of-type a {
	padding-left: 1.35em;
}

.icon-continue {
	margin: 0;
	background: url(../img/icon-continue.png) no-repeat 0; /* Fallback */
}

.svg .icon-continue {
	margin: 0;
	background: url(../img/icon-continue.svg) no-repeat 0;
}

.icon-comment {
	margin: 0;
	background: url(../img/icon-comment.png) no-repeat 0; /* Fallback */
}

.svg .icon-comment {
	margin: 0;
	background: url(../img/icon-comment.svg) no-repeat 0;
}


/*---- Blog Page -----*/

.blog h1 {
	font-size: 1.8em;
	margin-bottom: 0;
}

.comment_box h1 {
	font-size: 1.25em;
}

.author {
	background-color: rgb(235,230,220);
	padding: 1.5em;
	display: block;
	margin-top: 3em;
}

.author img {
	float: left;
	display: block;
	padding: 0 1em .25em 0;
	margin: 0;
}

.author h3 {
	font-size: 1em;
	margin-top: .25em;
}

.author p {
	margin-top: .5em;
	margin-bottom: .25em;
}

.blog section[role="note"] {
	margin-top: 3em;
}

.blog section[role="note"] h1 {
	border-bottom: 1px solid rgb(232,228,221);
	font-size: 1.25em;
	width: 100%;
	margin-bottom: .5em;
	clear: both;
}

.blog section[role="note"] article:first-of-type {
	border: none;
	padding-top: 0;
	margin-bottom: 1em;
}

.comment {
	border-top: 1px solid rgb(232,228,221);
	clear: both;
}

.comment_box h1 {
	font-size: 1.25em;
	border-bottom: 1px solid rgb(227,227,208);
	margin-bottom: 1em;
}

.blog section[role="note"] article header {
	width: 100%;
	margin-top: 1.5em;
}

.blog section[role="note"] article p:last-of-type {
	margin-bottom: 2em;
}

.blog section[role="note"] article header ul {
	list-style-type: none;
	margin-bottom: 0;
}

.blog section[role="note"] article header ul li:last-of-type {
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.blog section[role="note"] .comment-body {
	width: 100%;
	float: left; 
}

.blog section[role="note"] article header img {
	height: 32px;
	width: 32px;
	float: left;
	position: relative;
	background: rgb(255,255,255);
	border: 1px solid rgb(232,228,221);
	-moz-box-shadow: 0 0 2px rgb(232,228,221);
	-webkit-box-shadow: 0 0 2px rgb(232,228,221);
	box-shadow: 0 0 2px rgb(232,228,221);
	padding: .25em;
	margin-right: 1em;
	margin-top: 0px; /* Wide-screen 15px */
}


/*---- Forms ----*/


.comment_box, .contact_box {
	width: 100%;
	float: left;
	position: relative;
	padding: 1em 0;
}

form fieldset {
	padding-bottom: 20px;
	padding-left: 0;
}

form fieldset:first-of-type {
	border-bottom: 1px solid rgb(227,227,208);
	margin-bottom: 15px;
}

form fieldset ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

form fieldset ul li {
	margin-bottom: .85em;
	margin-top: 0;
}

form fieldset label {
	line-height: 3;
	float: left;
}

form input, form #captcha {
	outline: none;
	font-size: .85em;
	width: 100%;
	border: 1px solid rgb(227,227,208);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

form textarea {
	outline: none;
	font-size: .85em;
	padding: 5px;
	width: 100%;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(227,227,208);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

form input:focus, form textarea:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 5px rgb(178,43,20);
	-moz-box-shadow: 0px 0px 5px rgb(178,43,20);
	box-shadow: 0px 0px 5px rgb(178,43,20);
}

form fieldset:last-of-type {
	padding-bottom: 3em;
}


/*---- Work Pages -----*/


ul.thumbs { 
	list-style: none;
	margin: 0 0 3em 0;
	padding: 0;
}

ul.thumbs li { 
	display: inline-block;
	width: 48%;
	padding: 0 2.5% 2% 2.5%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
	vertical-align: top;
	font-size: .85em;
}

ul.thumbs li img { 
	display: block;
	width: 100%;
	background: rgb(255,255,255);
	border: 1px solid rgb(232,228,221);
	-moz-box-shadow: 0 0 2px rgb(232,228,221);
	-webkit-box-shadow: 0 0 2px rgb(232,228,221);
	box-shadow: 0 0 2px rgb(232,228,221);
	padding: 3%;
	margin-bottom: .5em;
}

ul.thumbs li a:hover img { 
	-webkit-box-shadow: 0px 0px 5px rgb(202,198,191);
	-moz-box-shadow: 0px 0px 5px rgb(202,198,191);
	box-shadow: 0px 0px 5px rgb(202,198,191);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.work main[role="main"] {
	padding-bottom: 3em;
}

.work main[role="main"] img {
	background: rgb(255,255,255);
	border: 1px solid rgb(232,228,221);
	-moz-box-shadow: 0 0 2px rgb(232,228,221);
	-webkit-box-shadow: 0 0 2px rgb(232,228,221);
	box-shadow: 0 0 2px rgb(232,228,221);
	padding: 1.5%;
	width: 97%;
	margin: 0 0 1em 0;
}

.work section[role="complementary"] header ul {
	list-style-type: none;
	margin: 1em 0 0 0;
	padding: 0;
	font-size: .85em;
}

.work section[role="complementary"] footer {
	margin: 0 0 3em 0;
}

.work section[role="complementary"] footer ul {
	list-style-type: none;
}

.work section[role="complementary"] footer ul li {
	display: inline;
}


/*---- About Page -----*/

.aboutme {
	display: block;
	margin: 0 auto 0 auto;
	max-width: 90%;
	/* border: 1px red solid; */
	clear: both;
	border-bottom: solid 1px rgb(222,218,201);
}

.aboutme img {
	float: right;
	max-width: 100%;
	/* margin-top: -4em; */
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
}

.aboutme p:first-of-type {
	font-size: 1.25em;
	margin-bottom: 1em;
}

.aboutme p:last-of-type {
	margin-bottom: 2.5em;
}

.about .availability {
	margin-bottom: 0;
}
.about .availability p {
	font-size: 1em;
}

.about article {
	clear: both;
	margin-bottom: 3.5em;
}

.about article h1 {
	font-size: 1.8em;
	margin-bottom: 0;
}

.about article h2 {
	color: rgb(178,43,20);
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.about article h3 {
	font-size: 1em;
	margin: 2em 0 0 0;
}

.about article h3:first-of-type {
	margin: 1em 0 0 0;
}

.speaking {
	margin: 0 auto;
	margin-top: 2.75em;
}

.speaking h2 {
	color: rgb(178,43,20);
	margin-bottom: .75em;
}

.speaking ul {
	max-width: 100%;
	margin: 5em auto 0 auto;
}

.speaking ul li {
	margin: auto 0;
	/* background: url(../img/badge-vancouver.png) no-repeat center top; */
	float: left;
	width: 50%;
	padding-top: 7em;
	padding-bottom: 2em;
}

.newyork {
	background: url(../img/badge-toronto-med.jpg) no-repeat center top;
}
	
.toronto {
	background: url(../img/badge-toronto-med.jpg) no-repeat center top;
}
	
.vancouver {
	background: url(../img/badge-vancouver-med.jpg) no-repeat center top;
}
	
.halifax {
	background: url(../img/badge-halifax-med.jpg) no-repeat center top;
}
	
.stjohns {
	background: url(../img/badge-stjohns-med.jpg) no-repeat center top;
}
	
.dusseldorf {
	background: url(../img/badge-dusseldorf-med.jpg) no-repeat center top;
}
	

.speaking p {
	clear: both; 
	display: block; 
	text-align: center;
	font-size: .85em;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.speaking ul li p {
	margin: 0 auto;
	text-align: center;
}


.past, .upcoming {
	display: inline-block;
	font-size: .75em;
	width: 80px;
	padding: .25em;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	margin-top: 1em;
	cursor: pointer;
}

.past {
	background-color: rgb(235,230,220);
	color: rgb(0,0,0);
}

.past:hover {
	background-color: rgb(229,222,209);
	color: rgb(0,0,0);
	text-decoration: none;
}

.upcoming {
	background-color: rgb(100,130,50);
	color: rgb(255,255,255);
}

.upcoming:hover {
	background-color: rgb(97,124,55);
	color: rgb(255,255,255);
	text-decoration: none;
}


/*---- Complementary ----*/

section[role="complementary"] {
	padding-top: 3em;
}

section[role="complementary"] a {
	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}

section[role="complementary"] h2 {
	font-size: 1em;
	color: rgb(178,43,20);
	margin-bottom: .5em;
	text-align: center;
}

.availability {
	margin-bottom: 2em;
	text-align: center;
}

.availability a {
	display: inline-block;
	background-color: rgb(100,130,50);
	color: rgb(255,255,255);
	font-size: 1.25em;
	padding: .75em;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	-webkit-transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-o-transition: background-color .1s linear;
	transition: background-color .1s linear;
}

.availability a:hover {
	background-color: rgb(97,124,55);
	color: rgb(255,255,255);
	text-decoration: none;
}

.categories {
	margin-top: 3em;
}

.categories ul, .locations ul, .speaking ul {
	list-style: none;
	margin: 0;
	padding: 0; 
}

.categories ul {
   float: none;
   width: 100%;
   -webkit-column-count: 2;
   -webkit-column-gap: .5em;
	-moz-column-count: 2;
	-moz-column-gap: .5em;
	column-count: 2;
	column-gap: .5em;
	text-align: center; /* remove wide */
}

.categories ul li {
	border-bottom: solid 1px rgb(222,218,201);
}

.categories ul li:nth-child(4), .categories ul li:nth-child(8) {
	border-bottom: none; 
}

.categories ul li a {
	color: rgb(25,25,25);
	border-bottom: none; 
	display: block;
	padding: .5em 0 .5em 0; /* .5em 0 .5em 0; */
	text-decoration: none;
}

.categories ul li a:hover {
	background: rgb(229,222,209);
}

.categories p {
	text-align: center;
}

.locations {
	margin: 3em auto 3em auto;
}

.locations ul {
	max-width: 26.5em;
	margin: 0 auto;
}

.locations ul li {
	margin: auto 0;
	float: left;
	clear: right;
	width: 32%;
	padding-top: 5em;
	padding-bottom: 1.5em;
}

.locations .vancouver {
	background: url(../img/badge-vancouver-sm.png) no-repeat center top;
}

.locations .toronto {
	background: url(../img/badge-toronto-sm.png) no-repeat center top;
}

.locations .halifax {
	background: url(../img/badge-halifax-sm.png) no-repeat center top;
}

.locations ul li:nth-child(1) {
	padding-right: 2%;
}

.locations p {
	clear: both; 
	display: block; 
	text-align: center;
	font-size: .85em;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.locations ul li p {
	margin: 0;
	text-align: center;
}

.book {
	margin: 1em auto 0 auto;
	overflow: auto;
	text-align: center;
	max-width: 26em;
}

.skills {
	margin: 0 auto 2em auto;
	overflow: auto;
	text-align: center;
	max-width: 26em;
}

.featured {
	margin: 2em auto 2em auto;
	text-align: center;
	max-width: 26em;
}

.featured ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.featured ul li h3 {
	font-size: .9em;
	margin-top: 1em;
}

.featured ul li p {
	font-size: .95em;
	margin-top: 0;
}

.newfoundland {
	text-align: center;
}



/*---- Footer -----*/

footer[role="contentinfo"] {
	margin: 0 auto;
	max-width: 100%;
	overflow: auto;
	padding: 3em 5% 2em 5%;
	text-align: center;
	clear: both;
	background: rgb(232,228,221) url(../img/footer-bg.png) no-repeat top;
}

footer[role="contentinfo"] a, footer[role="contentinfo"] a:active {
	color: rgb(222,218,211);
	text-decoration: none;
	-webkit-transition: color .1s linear;
	-moz-transition: color .1s linear;
	-o-transition: color .1s linear;
	transition: color .1s linear;
}

footer[role="contentinfo"] a:hover {
	color: rgb(255,255,255);
}

.doc-foot {
	background-color: rgb(0,0,0);
}

.doc-foot ul, .social ul {
	margin: 0 0 1.5em 0;
	padding: 0;
	list-style-type: none;
	font-size: 1em;
}

.doc-foot ul {
	margin: 0 auto 1.5em auto;
	float: none;
	max-width: 26em;
	-webkit-column-count: 2;
	-webkit-column-gap: .5em;
	-moz-column-count: 2;
	-moz-column-gap: .5em;
	column-count: 2;
	column-gap: .5em;
}

.social ul li {
	display: inline;
}

.social ul li a {
	text-indent: -9999px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 .15em;
	padding: 0;
	background-position: center center;
}

.twitter {
	background-image: url(../img/social-twitter-off.png);
}

.svg .twitter {
	background-image: url(../img/social-twitter-off.svg);
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	opacity: .85;
}

.svg .twitter:hover {
	opacity: 1;
}

.dribbble {
	background-image: url(../img/social-dribbble-off.png);
}

.svg .dribbble {
	background-image: url(../img/social-dribbble-off.svg);
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	opacity: .85;
}

.svg .dribbble:hover {
	opacity: 1;
}

.flickr {
	background-image: url(../img/social-flickr-off.png);
}

.svg .flickr {
	background-image: url(../img/social-flickr-off.svg);
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	opacity: .85;
}

.svg .flickr:hover {
	opacity: 1;
}

.lanyrd {
	background-image: url(../img/social-lanyrd-off.png);
}

.svg .lanyrd {
	background-image: url(../img/social-lanyrd-off.svg);
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	opacity: .85;
}

.svg .lanyrd:hover {
	opacity: 1;
}

.rdio {
	background-image: url(../img/social-rdio-off.png);
}

.svg .rdio {
	background-image: url(../img/social-rdio-off.svg);
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	opacity: .85;
}

.svg .rdio:hover {
	opacity: 1;
}

.zerply {
	background-image: url(../img/social-zerply-off.png);
}

.svg .zerply {
	background-image: url(../img/social-zerply-off.svg);
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	opacity: .85;
}

.svg .zerply:hover {
	opacity: 1;
}


/*---- Media Queries -----*/

.nav-toggle {
	display: none;
	left: 1em;
	position: absolute;
	top: 1em;
	background: url(../img/icon-menu.png) no-repeat 0 30%;
	width: 6em;
	text-transform: uppercase;
	font-size: .8em;
	color: rgb(255,255,255);
	text-decoration: none;
}

a:hover.nav-toggle {
	color: rgb(222,218,211);
	text-decoration: none;
}

a:active.nav-toggle {
	top: 1em;
}

.toggled-nav {
	-webkit-transition: max-height .5s linear;
	-moz-transition: max-height .5s linear;
	-o-transition: max-height .5s linear;
	transition: max-height .5s ease;
	overflow: hidden;
	max-height: 400px;
	padding: 0 !important; /* TODO: This is just an override; I didn’t want to mess with your styles too much. */
}
.hide-me {
	overflow: hidden;
}


@media screen and (max-width: 56.9375em) {
	.hide-me {
		max-height: 0;
		display: block;
	}
	.nav-toggle {
		display: block;
	}
}

@media screen and (min-width: 27em) {
	
	/* -- Bump down banner text -- */ 

	.intro {
		padding: 14.5em 3% 1em 3%;
	}

	.intro h3 {
		font-size: 1.25em;
	}

	.intro p {
		font-size: .9em;
		margin-top: 1em;
	}
	
}

@media screen and (min-width: 30em) {

	.intro {
		max-width: 70%;
		padding: 13.5em 3% 1em 3%;
	}

	.intro h3 {
		font-size: 1.25em;
	}

	.intro p {
		font-size: 1em;
		margin-top: 1em;
	}
	
	ul.thumbs li { 
		width: 32%;
		padding: 0 1.4% 0.8% 1.4%;
	}
	
	.speaking ul li {
		width: 33%;
	}
	
}

@media screen and (min-width: 35em) {

	.intro {
		max-width: 79%;
		padding: 15em 3% 1em 3%;
	}

	.intro h3 {
		font-size: 1.3em;
	}

	.intro p {
		font-size: 1em;
		margin-top: 1em;
	}
	
	
}

@media screen and (min-width: 40em) {

	.intro {
		max-width: 60%;
		padding: 14em 3% 1em 3%;
	}

	.intro h3 {
		font-size: 1.3em;
	}

	.intro p {
		font-size: 1em;
		margin-top: 1em;
	}
	
		/*---- Work -----*/

	ul.thumbs li { 
		width: 24%;
		padding: 0 1.2% 0.8% 1.2%;
	}

	.aboutme {
		margin-bottom: 0;
	}
	
	.aboutme img {
		float: right;
		max-width: 50%;
		margin-top: -2em;
		margin-bottom: 1em;
		margin-left: 1.5em;
	}
	
}

@media screen and (min-width: 48em) {

	.intro {
		max-width: 80%;
		padding: 17em 3% 1em 3%;
	}

	.intro h3 {
		font-size: 1.3em;
	}

	.intro p {
		font-size: 1em;
		margin-top: 1em;
	}
	
	.speaking ul li {
		margin: auto 0;
		float: left;
		width: 25%;
		padding-top: 9.5em;
		padding-bottom: 2em;
		font-size: 1.2em;
	}
	
	.newyork {
		background: url(../img/badge-toronto-lrg.jpg) no-repeat center top;
	}
	
	.toronto {
		background: url(../img/badge-toronto-lrg.jpg) no-repeat center top;
	}
	
	.vancouver {
		background: url(../img/badge-vancouver-lrg.jpg) no-repeat center top;
	}
	
	.halifax {
		background: url(../img/badge-halifax-lrg.jpg) no-repeat center top;
	}
	
	.stjohns {
		background: url(../img/badge-stjohns-lrg.jpg) no-repeat center top;
	}
	
	.dusseldorf {
		background: url(../img/badge-dusseldorf-lrg.jpg) no-repeat center top;
	}
	
}


@media screen and (min-width: 54em) {

	.intro {
		max-width: 80%;
		padding: 17em 3% 1em 3%;
	}

	.intro h3 {
		font-size: 1.3em;
	}

	.intro p {
		font-size: 1em;
		margin-top: 1em;
	}
	
}


@media screen and (min-width: 57em) {


/* -- Stretch out top navigation horizontally -- */ 

nav[role="navigation"]{
	margin: 0 auto;
	padding: 1em 5% 1em 5%;
	text-align: center;
}

nav[role="navigation"] h1 {
	top: .75em;
}

nav[role="navigation"] h1 {
	left: 50%;
	margin: 0 0 0 -70.5px;
	position: absolute; 
	z-index: 1;
	bottom: -4em;
	width: 162px;
	height: 138px;
	text-indent: -9999px;
}

nav[role="navigation"] h1 {
	background: transparent url(../img/hellogeri_logo_large.png) no-repeat 50% 0;
}

.svg nav[role="navigation"] h1 {
	background: transparent url(../img/hellogeri_logo_large.svg) no-repeat 50% 0;
}

nav[role="navigation"] ul {
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-column-count: 1;
   -webkit-column-gap: 0;
   -moz-column-count: 1;
   -moz-column-gap: 0;
   column-count: 1;
   column-gap: 0;
}

.csscolumns nav[role="navigation"] ul {
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	column-count: 1;
	column-gap: 0;
}

nav[role="navigation"] ul li {
	width: 13%;
	display: inline;  /* Fix for new layout */
	padding: 0; /* Fix for new layout */
}

nav[role="navigation"] ul li a {
	display: inline;
	padding-left: 22px;
	padding-top: 0; 
	margin-bottom: 0;
}

nav[role="navigation"] li:nth-child(1), nav[role="navigation"] li:nth-child(2), nav[role="navigation"] li:nth-child(3) {
	float: left;
}

nav[role="navigation"] li:nth-child(4), nav[role="navigation"] li:nth-child(5), nav[role="navigation"] li:nth-child(6) {
	float: right;
}

.icon-illustration {
	margin: 0;
	background: url(../img/icon-illustration.png) no-repeat 0;
}

.svg .icon-illustration {
	margin: 0;
	background: url(../img/icon-illustration.svg) no-repeat 0;
}

.icon-design {
	margin: 0;
	background: url(../img/icon-design.png) no-repeat 0;
}

.svg .icon-design {
	margin: 0;
	background: url(../img/icon-design.svg) no-repeat 0;
}

.icon-photo {
	margin: 0;
	background: url(../img/icon-photo.png) no-repeat 0;
}

.svg .icon-photo {
	margin: 0;
	background: url(../img/icon-photo.svg) no-repeat 0;
}

.icon-about {
	margin: 0;
	background: url(../img/icon-about.png) no-repeat 0;
}

.svg .icon-about {
	margin: 0;
	background: url(../img/icon-about.svg) no-repeat 0;
}

.icon-blog {
	margin: 0;
	background: url(../img/icon-blog.png) no-repeat 0;
}

.no-svg .icon-blog {
	margin: 0;
	background: url(../img/icon-blog.png) no-repeat 0;
}

.svg .icon-blog {
	margin: 0;
	background: url(../img/icon-blog.svg) no-repeat 0;
}

.icon-contact {
	margin: 0;
	background: url(../img/icon-contact.png) no-repeat 0;
}

.svg .icon-contact {
	margin: 0;
	background: url(../img/icon-contact.svg) no-repeat 0;
}

/* -- Bump down banner text -- */ 

.intro {
	max-width: 80%;
	margin: 0 auto;
	padding: 18.5em 3% 1em 3%;
	text-shadow: 0.1em 0.1em 0.2em rgb(0,30,50);
}

.intro h3 {
	font-size: 1.5em;
}

.intro p {
	font-size: 1em;
	margin-top: 1em;
}

/* -- Turn into two columns -- */ 

main[role="main"] {
	width: 63.04166666%;
	float: left;
	margin-left:5%;
	max-width:90%;
} 

section[role="complementary"] {
	width: 20.95833333%;
	float: right;
	background: #ccc;
	background: transparent;
	margin-right: 5%;
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
}

section[role="complementary"] h2 {
	text-align: left;
}


/* -- Turn into single column -- */ 

section[role="complementary"] {
	padding-top: 0;
}

.availability, .categories p, .book, .skills, .featured, .newfoundland {
	text-align: left;
}

.availability a {
	font-size: 1em;
}

.book {
	margin: 3em auto 0 auto;
}

.categories {
	margin-top: 2.5em;
}

.categories ul {
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-count: 1;
    -moz-column-gap: 0;
    column-count: 1;
    column-gap: 0;
    text-align: left;
}

.categories ul li {
	border-bottom: solid 1px rgb(227,227,208);
}

.categories ul li:nth-child(4) { 
	border-bottom: solid 1px rgb(227,227,208);
}

.categories ul li a {
	padding: .5em 0 .5em .5em;
	color: rgb(25,25,25);

}

.categories ul li a:hover {
	background: rgb(235,230,220);
}

.locations {
	padding: 1em 0 0 0;
	width: auto;
	margin: 2em auto 0 auto;
}

.locations p {
	font-size: 1em;
	margin-top: 1.5em;
	text-align: left;
}

.locations ul {
	margin-top: 1em;
}

.locations ul li {
	margin: 0 0 1em 0;
	padding-left: 80px;
	width: auto;
	padding-top: 0;
	padding-bottom: .25em;
}

.locations .vancouver {
	background: url(../img/badge-vancouver-sm.png) no-repeat 0 -3px;
}

.locations .toronto {
	background: url(../img/badge-toronto-sm.png) no-repeat 0 -3px;
}

.locations .halifax {
	background: url(../img/badge-halifax-sm.png) no-repeat 0 -3px;
}

.locations ul li p {
	margin: 0;
	text-align: left;
}


/* -- Stretch out footer nav horizontally -- */ 

footer[role="contentinfo"] {
	background: transparent url(../img/footer-bg.png) no-repeat top;
}

.doc-foot ul {
	max-width: 100%;
	float: left;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	column-count: 1;
	column-gap: 0;
}

.doc-foot ul li {
	padding-right: 1.25em;
	display: inline;
} 

.social ul {
	margin: 0;
	float: right;
}


}


@media screen and (min-width: 63em) {

	.availability a {
		font-size: 1.2em;
	}

	.intro {
		max-width: 80%;
		padding: 19.25em 3% 1em 3%;
	}

	.intro p {
		font-size: 1em;
		margin-top: 1em;
	}

}



@media screen and (min-width: 66em) {

.availability a {
	font-size: 1.25em;
}

}



/*---- Fonts -----*/

@font-face {
    font-family: 'Proxima-Nova-Light';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*---- Selections ----*/

::-webkit-selection {
background: rgb(178,43,20); 
color: rgb(255,255,255);
text-shadow: none; }

::-moz-selection {
background: rgb(178,43,20); 
color: rgb(255,255,255);
text-shadow: none; }

::selection {
background: rgb(178,43,20); 
color: rgb(255,255,255);
text-shadow: none; }

